Mini Task Management System
The objective of this assignment is to build a small full-stack web application using Next.js for 
the frontend and Spring Boot for the backend. You may use MySQL or PostgreSQL as the 
database.
Application Requirements
You are required to develop a Mini Task Management System that allows users to register, log
in, and manage tasks securely.
The system must support user registration and login using JWT-based authentication. Passwords 
must be securely handled. The application should implement role-based access control with two 
roles: ADMIN and USER
Only authenticated users should be able to access task related APIs. Users with the ADMIN role 
should be able to view all tasks in the system, while USER role accounts should only be able to 
manage their own tasks. 
Each task in the system should include the following attributes:
• id
• title
• description
• status (TODO, IN_PROGRESS,DONE)
• priority (LOW, MEDIUM,HIGH)
• dueDate
• createdAt
• updatedAt
Users must be able to create, update, delete, and view tasks. The task list should support 
filtering by status and priority. Users should also be able to mark tasks as completed. And 
implement pagination for the task list and allow sorting by due date or priority.
Front End Requirements
The frontend must be developed using Next.js. It should include a login page, registration page, 
task listing view, and task creation/update functionality. API integration should be properly 
handled using Axios.
The UI should be clean and usable, but highly advanced styling is not required. Proper project
structure, component organization, and state management are expected. Basic loading states 
and error handling should be implemented.
Back End Requirements
The backend must be implemented using Spring Boot following a clean architecture approach 
RESTful API design principles should be followed.
Input validation must be implemented using proper methods. Proper exception handling
should be centralized using a global exception handler, and correct HTTP status codes should 
be returned.
JWT security must be properly configured to protect endpoints and enforce role-based access 
control. Application should be monolith. Maintain a proper folder structure.
Submission Guidelines 
Please submit the following:
• One GitHub repository containing the following
§ Frontend files
§ Backend files
§ A README file explaining:
o Project overview
o Setup instructions
o Database configuration
o Steps to run the application
§ Database schema
§ API documentation (Can use any preferred tool)
• If you face any difficulties in uploading all these files to a GitHub repository, please 
upload them into a google drive and submit the link. Make sure that you have managed 
access permission before sharing.
Ensure that secrets are stored using environment variables. But share the required key names of 
all the environment variable in readme file. Do not commit build folders or node module
directories.
Evaluation Criteria
Your submission will be evaluated based on:
• Code quality and readability
• Project structure and architecture
• Authentication and authorization implementation
• API design and error handling
• Frontend–backend integration
• UI/UX (Clean and simple)
• Documentation clarity
• Completion and correctness of all features